* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Cabeçalho */
header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.mapa {
    width: 700px; 
    height: 700px;
    /* display: block;
    margin: 0 auto;  */
}

.titulo{
    color:white; 
    font-size: 20px;
    text-decoration: none;
}

.formulario{
    margin-top: 10px;
    margin-left: 5px;
}

.botaoEnviar{
    border-radius: 4px;
    width: 70px;
    height: 33px;
    color: white;
    background-color: rgb(7, 181, 94);
}

.botaoLimpar{
    text-decoration: none;
    color: white;
    background: rgb(30, 129, 183);
    border: 1px;
    padding: 8px;
    border-radius: 4px;

}

.opcoes{
    /* border: 112px; */
    border-color: black;
    border-radius: 3px;
    width: 70px;
    height: 33px;

}

/* Estilo para o footer (rodapé) */
footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    color: #333;
    /* position: fixed;  */
    position: relative;
    bottom: 0; 
    width: 100%; 
}

/* Estilo para os ícones de mídias sociais */
.icones {
    /* margin-top: 20px; */
}

.icones a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    font-size: 24px;
}

/* Estilo para os elementos de contato no rodapé */
footer{
    margin: 0px;
    padding: 0px;
}

footer p {
    margin: 5px 0;
}

/* Estilo para o texto de direitos autorais no rodapé */
footer a {
    text-decoration: none;
    font-weight: bold;
    color: #24252a;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#icone_facebook, #icone_twitter, #icone_instagram, #icone_gitHub {
    color: white;
}

#icone_facebook:hover {
    color: rgb(52, 136, 239);
}

#icone_twitter:hover {
    color: rgb(76, 191, 229);
}

#icone_instagram:hover {
    color: rgb(239, 52, 217);
}

#icone_gitHub:hover {
    color: rgb(150, 7, 7);
}

.dadosEmail {
    color: inherit;
}

/* Estilo da Barra de Rolagem */
html ::-webkit-scrollbar {
    width: 5px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #24252a;
}

html ::-webkit-scrollbar-track {
    background: white;
}
